.search-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-light);
  background-color: var(--color-surface-a0);
}

.search-form {
  display: flex;
  align-items: center;
  margin: 1rem;
  background-color: var(--color-surface-a10);
  border-radius: 9999px;
  overflow: hidden;
}

.search-form input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-light);
}

.search-form input::placeholder {
  color: #b4bcc9;
}

.search-btn {
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  border: none;
  background: none;
  cursor: pointer;
}

/* ERROR */
.error-text {
  margin: 0 1rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

/* RESULTS GRID */
.results-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.pagination button {
  padding: 0.5rem 0.75rem;
  background-color: var(--color-surface-a10);
  color: var(--color-light);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.pagination button:hover,
.pagination button:focus {
  transform: scale(1.1);
  background-color: var(--color-surface-a20);
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  font-size: 0.9rem;
  color: var(--color-light);
}
