/* ========================== */
/* ==== THEME VARIABLES ===== */
/* ========================== */

:root {
  --color-primary-a0: #9a34e3;
  --color-primary-a10: #a84fe7;
  --color-primary-a20: #b566eb;
  --color-primary-a30: #c17dee;
  --color-primary-a40: #cd93f1;
  --color-primary-a50: #d8a8f5;

  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;

  --color-light: #f0f0f0;
}

/* UTILITY CLASSES */
.hidden {
  display: none;
}

.not-hidden {
  display: flex;
}

/* GLOBAL STYLES */

body,
a,
a:visited {
  color: var(--color-light);
}

body {
  background-color: var(--color-surface-a10);
}
