/* ========================== */
/* ==== THEME VARIABLES ===== */
/* ========================== */

:root {
  --color-primary-a0: #9a34e3;
  --color-primary-a10: #a84fe7;
  --color-primary-a20: #b566eb;
  --color-primary-a30: #c17dee;
  --color-primary-a40: #cd93f1;
  --color-primary-a50: #d8a8f5;

  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;

  --color-light: #f0f0f0;

  --color-error: #ff4d4d;
}

/* RESPONSIVE CLAMPED FONT SIZE */
/* ALLOWS USE OF REMS THROUGHOUT TO STAY CONSISTENT */
html {
  font-size: clamp(16px, 1.5vw, 24px);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: clamp(28px, 5vw, 64px);
}

h2 {
  font-size: clamp(24px, 3vw, 40px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: clamp(16px, 1.2vw, 20px);
}

/* UTILITY CLASSES */
.hidden {
  display: none;
}

.not-hidden-flex {
  display: flex;
}

/* GLOBAL STYLES */

body,
a,
a:visited {
  color: var(--color-light);
}

body {
  background-color: var(--color-surface-a10);
}
