.movie-card {
  padding-bottom: 1rem;
  text-decoration: none;
  background-color: var(--color-surface-a10);
  border-radius: 0.75rem;
  transition: transform 0.2s ease-in-out;
}

.movie-card:hover,
.movie-card:focus {
  transform: scale(1.075);
}

.card-movie-poster {
  margin-bottom: 1rem;
}

.card-text {
  text-align: center;
}

.card-movie-title {
  font-weight: bold;
}
