.desktop-nav {
  display: none;
}

header,
.header-welcome,
.mobile-nav-ul {
  display: flex;
}

header {
  position: sticky;
  top: 0;
  z-index: 60;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 1px 7px 2.5px var(--color-light);
  background-color: var(--color-surface-a0);
}

.header-welcome {
  align-items: center;
}

.header-avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mobile-nav-btn {
  background: none;
  border: none;
  color: var(--color-light);
  width: 2rem;
  height: 2rem;
}

.nav-btn-icon {
  width: 100%;
  height: 100%;
}

.mobile-menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 40;
  background-color: var(--color-surface-a0);
  opacity: 50%;
}

.mobile-menu-panel {
  position: fixed;
  inset-inline-start: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: var(--color-surface-a0);
}

.mobile-menu-panel {
  justify-content: center;
  padding-top: 50%;
}

.mobile-nav-ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .mobile-nav-btn,
  .mobile-menu-panel,
  .mobile-menu-overlay {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }
}
