.desktop-nav {
  display: none;
}

header,
.header-welcome {
  display: flex;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 60;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 1px 7px 2.5px var(--color-light);
  background-color: var(--color-surface-a0);
}

.header-avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mobile-menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 40;
  background-color: var(--color-surface-a0);
  opacity: 50%;
}

.mobile-menu-panel {
  position: fixed;
  inset-inline-start: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: var(--color-surface-a0);
}

@media (min-width: 1024px) {
  .desktop-nav {
    display: flex;
  }

  .mobile-nav-btn {
    display: none;
  }
}
