.desktop-nav {
  display: none;
}

header,
.header-welcome,
.mobile-nav-ul {
  display: flex;
}

header {
  position: sticky;
  top: 0;
  z-index: 60;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 1px 7px 2.5px var(--color-light);
  background-color: var(--color-surface-a0);
}

.header-welcome {
  align-items: center;
}

.header-avatar-img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
  box-shadow: var(--color-light) 0 0 3px 3px;
}

.welcome-name {
  font-family: "Metal Mania", system-ui;
  font-size: 24px;
}

.mobile-nav-btn {
  background: none;
  border: none;
  color: var(--color-light);
  width: 2rem;
  height: 2rem;
}

.nav-btn-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.mobile-menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 40;
  background-color: var(--color-surface-a0);
  opacity: 50%;
}

.mobile-menu-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  justify-content: center;
  width: 75%;
  height: 100%;
  padding-top: 50%;
  background-color: var(--color-surface-a0);
  /* Start off-screen to the right */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

/* When menu is open */
.mobile-menu-panel.open {
  transform: translateX(0);
}

.mobile-nav-ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.mobile-nav-ul a {
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  .mobile-nav-btn,
  .mobile-menu-panel,
  .mobile-menu-overlay {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }

  .desktop-nav-ul a {
    margin-right: 1rem;
  }
}
